.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-image {
    width: 42px; /* 设置圆形容器的宽度 */
    height: 42px; /* 设置圆形容器的高度 */
    border-radius: 50%; /* 将容器剪切成一个圆形 */
    overflow: hidden; /* 隐藏超出容器的部分 */
    margin-right: 10px; /* 设置图标与名字之间的右边距 */
}

.circular-image img {
    width: 100%; /* 使图像充满容器 */
    height: 100%; /* 使图像充满容器 */
}